@import '../../common/variable';


.c-home {
  &__container {
    padding: 0 $content-padding;
  }

  &__content {
    margin-bottom: 2em;
  }

  &__actions {
    text-align: center;

    &-btn {
      min-width: 20%;
    }
  }
}