@import '../../mixins';

.c-tweetContent {
  position: relative;

  &__block {
    @include flex-display;

    &-field {
      @include flex-box(1 1 auto);
      margin-right: 1em;
    }

    &-actions {
      @include flex-box(0 0 auto);
    }
  }

  &__editToggle {
    text-decoration: none;
  }
}
