@import '../../common/variable';

.c-tweets {
  &__item {

    :last-child {
      margin-bottom: 0;
    }
  }

  &__separator {
    border-bottom: 1px dashed $border-color;
    height: 1px;
    margin: 1em 0;

    &:last-child {
      display: none;
    }
  }
}
