@import '../common/variable';

.c-pageHead {
  padding: 1em;
  margin-bottom: 2em;
  box-shadow: 1px 0px $border-color;
  border: 1px solid $border-color;
  background-color: $background-color;
  display: flex;

  &__pageTitle {
    flex: 1 1 auto;
  }

  &__headerButtons {
    flex: 0 0 auto;
  }
}
